parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method (scalar|boolean)Node\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
